@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Popins', sans-serif;
}

/* headings and logo */

header  h1 {
font-family: 'Koulen', sans-serif;
text-transform: uppercase;
font-size: xx-large;
color: black;
}
header a {
    text-decoration: none;
}
h1, h2 {
    font-family: 'Koulen', sans-serif;
    text-transform: uppercase;
    font-size: xx-large;
}
#logo {
    float: left;
    line-height: 75px;
}
#logo:hover {
    color: #3f3f3f;
}

/* navigation menu  */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    line-height: 75px;

}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 3px double black;
}
.active {
    border-bottom: 2px solid black;
}

/* Hero image and hero text landing */

#hero-contain {
    height: 700px;
    width: 100%;
    overflow: hidden;

    position: relative;
}
.hero-image {
    height: 700px;
    width: 100%;
    background: url('../images/cat-footer-faq.jpg') no-repeat center center;
}
.text-hero {
    font-size: 130%;
    font-family: 'Koulen', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 700px;
    height: 175px;
    color: #fff;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(0, 0, 0, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* Main page headings, textwalls and images */

.main-read {
    height: 510px;
}

.main-read h1 {
    text-align: center;
    font-size: 350%;
    padding: 15px;
}
.textwall {
    float: left;
    width: 60%;
}
.textwall p {
    float: right;
    width: 85%;
}
#text-intro {
    padding-top: 8%;
}
.right-side {
    width: 40%;
    float: right;
}
.circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}
#entrance {
    width: 300px;
    height: 300px;
    background: url('../images/Entrance_to.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    float: left;
}
#history {
    width: 300px;
    height: 300px;
    background: url('../images/bone_sphere.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    float: left;
}
#restourant {
    width: 300px;
    height: 300px;
    background: url('../images/restourant.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    float: left;
}

/* Media screen control for tablet and mobile Landing edition  */
@media screen and (max-width: 1024px) {
    #hero-contain {
        height: 450px;
        width: 100%;
        overflow: hidden;
    
        position: relative;
    }
    .hero-image {
        height: 450px;
        width: 100%;
        background: url('../images/cat-footer-faq.jpg') no-repeat center center;
    }
    .text-hero {
        font-size: 100%;
        font-family: 'Koulen', sans-serif;
        text-transform: uppercase;
        letter-spacing: 3px;
    
        width: 450px;
        height: 130px;
        color: #fff;
    
        padding-top: 40px;
        padding-left: 10px;
    
        background-color: rgba(0, 0, 0, 0.7);
    
        bottom: 30px;
        right: 150px;
    
        position: absolute;
    }
    h1 {
        font-size: x-large;
    }
    .textwall {
        float: left;
        width: 100%;
    }
    .textwall p {
        text-align: justify;
        width: 90%;
        padding-right: 5%;
    }
    .right-side {
        width: 100%;
        float: right;
    }

}
@media screen and (max-width: 600px) {
    #hero-contain {
        height: 300px;
        width: 100%;
        overflow: hidden;
    
        position: relative;
    }
    .hero-image {
        height: 300px;
        width: 100%;
        background: url('../images/cat-footer-faq.jpg') no-repeat center center;
    }
    .text-hero {
        font-size: 100%;
        font-family: 'Koulen', sans-serif;
        text-transform: uppercase;
        letter-spacing: 3px;
    
        width: 350px;
        height: 100px;
        color: #fff;
    
        padding-top: 40px;
        padding-left: 10px;
    
        background-color: rgba(0, 0, 0, 0.7);
    
        bottom: 30px;
        right: 50px;
    
        position: absolute;
    }
    h1 {
        font-size: large;
    }
    #menu {
        clear: left;
        float: left;
        margin-left: 10px;
        margin-bottom: 20px;
        line-height: 25px;
    }
}