@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Popins', sans-serif;
}

/* headings and logo */

header  h1 {
font-family: 'Koulen', sans-serif;
text-transform: uppercase;
font-size: xx-large;
color: black;
}
header a {
    text-decoration: none;
}
h1, h2 {
    font-family: 'Koulen', sans-serif;
    text-transform: uppercase;
    font-size: xx-large;
}
#logo {
    float: left;
    line-height: 75px;
}
#logo:hover {
    color: #3f3f3f;
}

/* navigation menu  */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    line-height: 75px;

}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 3px double black;
}
.active {
    border-bottom: 2px solid black;
}

/* Hero image and hero text landing */

#hero-contain {
    height: 700px;
    width: 100%;
    overflow: hidden;

    position: relative;
}
.hero-image {
    height: 700px;
    width: 100%;
    background: url('../images/cat-footer-faq.jpg') no-repeat center center;
}
.text-hero {
    font-size: 130%;
    font-family: 'Koulen', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 700px;
    height: 175px;
    color: #fff;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(0, 0, 0, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}